@use './mixin' as *;
@import "./adminStyleReuse.module.scss";

.formButtonSubmit {
    @include containerButtonSubmit;
    button {
        @include btnSubmit;
    }
}
.uploadImage {
    @include uploadImage;
}
.containerAddButtonForm{
    background-color: $bgColorForm;
    padding: 20px;
    form{
        .hiddenInput {
            display: none !important;
        }
        label {
            font-size: $fontSizeFormLabel;
        }
        select {
            font-size: $fontSizeForm !important;
        }
    }
}