@import "./adminStyleReuse.module.scss";

.EditAddPopupContainer{
    background-color: $bgColorForm;
    form{
        padding: 3%;
        display: grid;
        grid-template-columns: 1fr 1fr;    
        justify-items: center;
        gap: 10px;
        border: solid;
        button{
        @include btnAdmin
        }
        select, input{
            width: 100%;
            height: 56px;
        }
    }
    .outform{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
            button {
                @include btnAdmin
            }
            .formLabel{
                font-size: 16px;
            }
    }
}