.containerAdminMainMenu{
    background:red;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    nav{
        background-color: white;
        padding: 3%;
        height: 99vh;
        overflow-y: auto;
        link {
                color: black;
                text-decoration: none;
                transition: color 0.3s;
        
                &:hover {
                    color: gray;
                }
            }
        
            .active {
                color: white !important;
                font-weight: bold;
                background: #14213dce !important;
            }
    }
    section {
        background-color: rgb(196, 194, 194);
        padding: 5%;
        color: #FCA311;
        background: #14213D;
    
    }
    .sideMenu{
       margin-top:40px;
       display: flex;
       flex-direction: column;
       gap: 5px;
       a{
          padding: 12px 10px;
          color: #FCA311;
          background:#14213D;   
       }
       button {
          padding: 12px 10px;
          color: #FCA311;
          background: #14213D;       
          
           a{
              color: #FCA311;
              background:none;
          }
       }
    }
    .mainContent {
       background:rgb(218, 212, 212);
       color:#14213D;
       padding: 2%;
       height: 80vh;
           overflow-y: auto;
    }
}

.WarningMessageContainer {
    position: fixed;
    top: 200px;
    max-width: 600px;
    left: 20%;
    z-index: 30;
}



