
$btn-admin-bg-color: #14213D;
$btn-admin-text-color: #FCA311;
$btn-admin-table-color: white;
$admin-title-color: #14213D;
$bg-admin-default: rgb(218, 212, 212);
$admin-title-fontsize: 30px;
$admin-title-fontfamily:'arial';
$table-text-fontsize:12px;
$bgColorForm: #dad4d4;
$fontSizeForm: 1.3rem;
$fontSizeFormLabel: 2rem;
$bgColorForm: #dad4d4;

@mixin btnSubmit {
    background-color: $btn-admin-bg-color;
    width: 242px;
    padding: 13px 26px;
    border: none;
    color: $btn-admin-text-color;
    font-size: $fontSizeForm
}

@mixin btnUtility ($width: 242px) {
    background-color: $btn-admin-bg-color;
    width: $width;
    padding: 13px 26px;
    border: none;
    font-size: $fontSizeForm;
    color:$btn-admin-text-color;
}

@mixin containerButtonSubmit ($margin: 0 0){
    display: flex;
    justify-content: center;
    align-items: center;
    margin:$margin
}

@mixin uploadImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12vh;

    input[type="file"] {
        @include btnUtility(50%);
        margin-bottom: 10px;

        &::-webkit-file-upload-button {
            background: none;
            border: none;
            color: $btn-admin-text-color;
            font: inherit;
            cursor: pointer;
        }
    }

    input[type="file"] {
        color: $btn-admin-text-color;
    }

    progress {
        width: 100%;
        margin-bottom: 10px;
    }

    .image-preview {
        max-width: 100%;
        max-height: 300px;
        margin-top: 10px;
    }
 }

@mixin btnAdmin{

    border-radius: 10px;
    padding: 11px 17px;
    justify-content: center;
    font-family: var(--title-font) !important;
    font-size: 12px;
    font-weight: bold;
    color: var(--btn-admin-text-color) !important;
    background-color: var(--btn-admin-bg-color) !important;

}

@mixin tableadmin{
  
        width: 100%;       
        border-collapse: collapse;
        /* Remove os espaçamentos entre bordas */
        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            font-size: $table-text-fontsize;

            button {
                @include btnAdmin;
            }
        }

        th {
            background-color: $btn-admin-table-color;
            /* Define uma cor de fundo para o cabeçalho */
            font-weight: bold;
            /* Destaca o texto do cabeçalho */
        }

        tr:nth-child(even) {
            background-color: $btn-admin-table-color;
            /* Adiciona uma cor de fundo para linhas pares */
        }

        tr:hover {
            background-color: #e2c11d;           
        }

        .totals td {
            font-weight: bold;
            font-size: 12px;
        }
        @media (max-width: 650px) {
            th,
            td {
                font-size: 10px;
            }
        }
    
}

@mixin tableContainer{
    width: 100%;
        overflow: auto;
        max-height: 60vh;
        /* Permite rolagem horizontal e vertical */
    
        table {
            width: 100%;
            border-collapse: collapse;
    
            thead {
                position: sticky;
                /* Mantém o cabeçalho fixo */
                top: 0;
                /* Fixa o cabeçalho na parte superior */
                z-index: 2;
                /* Certifica que o cabeçalho estará acima do conteúdo */
    
                th {
                    background-color: $btn-admin-table-color;
                    font-weight: bold;
                    text-align: left;
                    padding: 8px;
                    border: 1px solid #ccc;
                }
            }
    
            tbody {
                tr:nth-child(even) {
                    background-color: $btn-admin-table-color;
                    /* Estilo para linhas pares */
                }
    
                tr:hover {
                    background-color: #e2c11d;
                    /* Estilo para hover */
                }
    
                td {
                    padding: 8px;
                    border: 1px solid #ccc;
                    text-align: left;
                }
            }
        }
}