.content-carrossel .carrossel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0 15%;
    
}
.content-carrossel .carrossel img{
    
    object-fit: cover;
    width: 70%;
    height: 25vh;
}
.content-carrossel .wrapper{
    margin-top: 1rem !important;
    width: 74%;
    margin: 0 13%;
}
.content-carrossel .wrapper button {
   background: none;
   border:none;
   color:black
}
.content-carrossel .wrapper button Icon{
    
}


