@import 'variables';
a{
    color: white;      
    text-decoration:none;     

}
.form-menu-container .WarningMessage-container{
    position: fixed;
    top:200px;
    max-width: 600px;
    left:20%;
}
.form-menu-container .sub-container{
    display:grid;
    border:solid .5px var(--secundary-bg-color) ;
    grid-template-columns: 2fr 1fr;
    margin:0 11px;
    justify-items: center;
    padding: 2%;
    border:solid .5px 
}
.form-menu-container .sub-container .btn-form{
    display: grid;
    align-items: center;
  
}
.form-menu-container .sub-container .btn-form a{
    max-height: 43px;
    background: var(--btn-color);
    color: var(--title-font-color);
    border:none;
}
.form-menu-container .sub-container .btn-form .sidedishe{
    max-height: 63px;
    margin-bottom: 4px;
}

.form-menu-container .sub-container .btn-text p{
max-width: 300px;
}
.form-menu-container .kitchen-request{
    display: flex;
    justify-content: space-around;
    margin:10px 0 10px 0;
    padding: 10px;
}
.form-menu-container .kitchen-request a,
.form-menu-container .kitchen-request button{
background: var(--btn-color);
color: var(--title-font-color);
border:none;
}
.form-menu-container .kitchen-request button{
    border-radius: 50%;
    padding: 15px;
}