$fontSizeForm: 1.3rem;
$fontSizeFormLabel: 2rem;
$bgColorForm: #dad4d4;



@mixin btnUtility ($width: 242px) {
    background-color: #c79809;
    width: $width;
    padding: 13px 26px;
    border: none;
    font-size: $fontSizeForm
}
@mixin containerButtonSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}
        
        @mixin uploadImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 12vh;

            input[type="file"] {
                @include btnUtility(50%);
                margin-bottom: 10px;

                &::-webkit-file-upload-button {
                    background: none;
                    border: none;
                    color: whitesmoke;
                    font: inherit;
                    cursor: pointer;
                }
            }

            input[type="file"] {
                color: whitesmoke;
            }

            progress {
                width: 100%;
                margin-bottom: 10px;
            }

            .image-preview {
                max-width: 100%;
                max-height: 300px;
                margin-top: 10px;
            }
        }


