.paymentMethod-container{
    display: flex;;
    justify-content: space-around;
    margin: 50px 10px;
}
.paymentMethod-container label{
    font-size: 15px;
    margin-left:6px;
}
.paymentMethod-container input{
    font-size: 20px;
}