@import 'variables';
.container-request-list {
    width:90%;
    margin:10px 5%;
    background:white;   
}
.container-request-list h1 {
color: var(--title-font-color);
font-family: var(--title-font)
} 
.container-request-list h3 {
    font-size: 17px;
}

.container-request-list .request .customer .customer-name{
    font-weight: bold !important;
   
}
.container-request-list .request .customer .idUser{
    font-size:12px
   
}

.container-request-list .request{
    border:solid .5px black;
    margin:10px 0;    
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.container-request-list .request .dishes{
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.container-request-list .request p{
    margin:1px 5px
}

.container-request-list p, span, h1 {
    text-align: center;
}

.container-request-list .dishes{
    border-top: none;
    border-left: solid black .5px;
    border-right: solid black .5px;
    border-bottom: solid black .5px;
}

.container-request-list .dishes .sidedishes{
    border-left:solid black .5px;
}