@import "variables";

/* Overlay para escurecer o fundo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido, mas translúcido */
  z-index: 1; /* Certifica-se de que o overlay fique atrás do container */
}

.default-comum-message-container {
  max-width: 600px;
  text-align: center;
  border: solid 2px red;
  padding: 20px;
  background-color: var(--secundary-bg-color);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Certifica-se de que o container fique acima do overlay */
  width: 160%; /* Aumenta o tamanho proporcionalmente em 60% */
  z-index: 5;
  
}

.default-comum-message-container h1 {
  color: #d72b2b;
  margin: 30px;
}

.default-comum-message-container h3 {
  margin: 30px 10px;
  font-size: 35px;
}

.default-comum-message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.default-comum-message-container .container-button button {
  width: 80%;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin: 20px 10%;
  font-family: var(--title-font) !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--title-font-color);
  background: var(--btn-color);
}
