@import 'variables';
.text-keyboard-line-container{
    margin:auto;
     max-width: 800px;
     border:solid 2px var( --secundary-bg-color);
     justify-items:center ;
     padding: 5px;
     gap: 5px;
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: min-content;;
     justify-content: center;
     
     
  }
  .text-keyboard-line-container .text-character{
     width: 50px;
     height: 50px;    
     display: grid;
     background-color: var(--btn-color);
     place-items: center;
   font-size: 18px;
 
  }
  .text-keyboard-line-container .one-char{
   font-size: 25px;
  }
  .space{
   width: 100px !important;
  }