:root {
    --btn-color: #d2df1d;
    --bg-color: #b02121;
    --secundary-bg-color: #b02121;
    --font-color: rgb(230, 235, 230);
    --title-font-color: #bd2828;
    --title-font: 'Arial';
    --text-font: 'sans serif';
    --btn-admin-bg-color:#14213D;  
    --btn-admin-text-color:#FCA311;
  }
  